[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
  	tree = log --all --decorate --oneline --graph
[user]
	name = James Sturtevant
	email = jstur@microsoft.com
[push]
	default = simple
